{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.header {
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #D6D6D6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}
.header-login {
    display: flex;

}
.header-name {
    color: #EA6283;
    font-weight: 700;
    text-decoration: none;
    font-size: 40px;
}
.header-autoris {
    color: #EA6283;
    font-weight: 700;
    text-decoration: none;
    margin-left: 750px;
    margin-top: 5px;
    padding: 5px 20px;
    font-size: 16px;
}
.btn, a.btn {
    background-color: #F8F335; /* Green */
    border: none;
    color: #EA6283;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
}
.img_place{
    margin-top: 13px;
    margin-left: 150px;
}
.cities {
    background: none;
    border-color: none;
    outline: 0;
    outline-offset: 0;
    dispaly: none;
    height: 25px;
    margin-left: 0px;
    margin-top: 15px;
    padding: 0;
}
.auto {
    color: #EA6283;
    text-decoration: none;
    background: #7DBCEC;
    width: 350px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
    .auto input[type = "email"], .auto input[type = "text"] {
        border: 0;
        color: black;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 3px solid #EA6283;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        transition: 0.25s;
    }
        .auto input[type = "email"]:focus, .auto input[type = "text"]:focus {
            width: 270px;
            border-color: #FFC039;
            color: black;
        }
    .auto input[type = "submit"] {
        border: 0;
        /*background-color: #F8F335;
        background-color: #EA6283;*/
        display: block;
        background-color: none;
        margin: 20px auto;
        text-align: center;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        /*color: #251f94;*/
        font-weight: 700;
        color: #EA6283;
        border-radius: 20px;
        transition: 0.25s;
        cursor:pointer;
    }
        .auto input[type = "submit"]:hover {
            background: #F8F335;
        }
li{
    list-style: none;
}
.side-menu{
    padding-left: 20px;
    /*position: fixed;*/
    position: static;
    
    background: #EA6283;
    width: 18vw;
    height: 700px;
    min-height: 700hv;
    display: flex;
    flex-direction: column;
}
.side-menu .category{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu li{
    font-size: 24px;
    padding: 0px 0px;
    padding-left: 0px;
    color: white;
    display: flex;
    align-items: center;
}
.side-menu li:hover{
    background: white;
    color: #EA6283;
}
    .side-menu li a:hover {
        color: #EA6283;
    }
.side-menu li a{
    color: white;
}
.side-name-acc {
    padding-top: 12px;
    /*position: fixed;*/
    position: static;
    background: #EA6283;
    width: 18vw;
    height: 80px;
    min-height: 700hv;
    display: flex;
    flex-direction: column;

    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*font-size: 16px;
    position: static;
    flex-direction: column;*/
}
main .container {
    padding: 0px;
    background-color: white;
    height: 700px;
    margine: 0;
}
.tabs_acc_panel{
    padding-top: 50px;
}
.tabs_item a {
    display: block;
    color: white;
    background-color: #7DBCEC;
    border-radius: 40px;
    font-size: 26px;
    line-height: 50px;
    padding: 5px;
    margin: 10px;
    text-align: center;
}
.tabs_items {
    padding: 10px;
    /*flex: 0 1 33.333%;
    background-color: #7DBCEC;
    border-radius: 10px;*/
}
.tabs_body {
    transform: translate(277px, -275px);
}
body {
    background-color: #99D9DA;
    color: #FFC039;
}
.tabs_block {
    padding: 70px;
    font-size: 30px;
    line-height: 24px;
    display: none;
}
.tabs_block:nth-child(1){
    background-color: #b200ff;
}
.tabs_block:nth-child(2) {        
    background-color: #c1ea46;
}
.tabs_block:nth-child(3) {
    background-color: #7DBCEC;
}
.tabs_block:target{
    display: block;
}
footer {
    color: #233181;
}
.sitemap {
    position: absolute;
    right: 35px;
    padding: 50px;
    margin-right: 100px;
    
}
.contact {
    position: absolute;
    left: 35px;
    padding: 50px;
}
.rules_text{
    color: #EA6283;
    padding: 20px 20px;
}

.all_advert {
    background: #99D9DA; /* Цвет фона */
    width: 330px; /* Ширина */
    margin: 10px 10px 10px 10px; /* Отступы */
    padding: 10px 0; /* Поля сверху и снизу */
    text-align: center; /* Выравнивание по центру */
    display: inline-block; /* Строчно-блочный элемент*/
    transform: translate(350px,-700px);
}
.photo p {
    margin: 2px; /* Отступы */
}

.photo img
{
    border: 10px solid #c1ea46; /* Параметры рамки */
}


