{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.header {
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #D6D6D6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}
.header-login {
    display: flex;

}
.header-name {
    color: #EA6283;
    font-weight: 700;
    text-decoration: none;
    font-size: 40px;
}
.header-autoris {
    color: #EA6283;
    font-weight: 700;
    text-decoration: none;
    margin-left: 750px;
    margin-top: 5px;
    padding: 5px 20px;
    font-size: 16px;
}
.btn, a.btn {
    background-color: #F8F335; /* Green */
    border: none;
    color: #EA6283;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
}
.img_place{
    margin-top: 13px;
    margin-left: 150px;
}
.cities {
    background: none;
    border-color: none;
    outline: 0;
    outline-offset: 0;
    dispaly: none;
    height: 25px;
    margin-left: 0px;
    margin-top: 15px;
    padding: 0;
}
.auto {
    color: #EA6283;
    text-decoration: none;
    background: #7DBCEC;
    width: 350px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
    .auto input[type = "email"], .auto input[type = "text"] {
        border: 0;
        color: black;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 3px solid #EA6283;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        transition: 0.25s;
    }
        .auto input[type = "email"]:focus, .auto input[type = "text"]:focus {
            width: 270px;
            border-color: #FFC039;
            color: black;
        }
    .auto input[type = "submit"] {
        border: 0;
        /*background-color: #F8F335;
        background-color: #EA6283;*/
        display: block;
        background-color: none;
        margin: 20px auto;
        text-align: center;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        /*color: #251f94;*/
        font-weight: 700;
        color: #EA6283;
        border-radius: 20px;
        transition: 0.25s;
        cursor:pointer;
    }
        .auto input[type = "submit"]:hover {
            background: #F8F335;
        }
li{
    list-style: none;
}
.side-menu{
    position: fixed;
    background: #EA6283;
    width: 18vw;/*
    height: 200px;*/
    min-height: 700hv;
    display: flex;
    flex-direction: column;
}
.side-menu .category{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu li{
    font-size: 24px;
    padding: 0px 0px;
    padding-left: 0px;
    color: white;
    display: flex;
    align-items: center;
}
.side-menu li:hover{
    background: white;
    color: #EA6283;
}
main .container {
    padding: 0;
    background-color: white;
    height: 700px;
    margine: 0;
}
body {
    background-color: #99D9DA;
    color: #FFC039;
}
footer {
    color: #233181;
}
.sitemap {
    position: absolute;
    right: 35px;
    padding: 50px;
    margin-right: 100px;
    
}
.contact {
    position: absolute;
    left: 35px;
    padding: 50px;
}
.rules_text{
    color: #EA6283;
}